// COLORS

$Dark-100: #1F2041;
$Dark-75: rgba(31, 32, 65, 0.75);
$Dark-50: rgba(31, 32, 65, 0.5);
$Dark-25: rgba(31, 32, 65, 0.25);
$Dark-5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
$Gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$Gradient-50: linear-gradient(180deg, #bb9cff80 0%, #8ba5f983 100%);
$Gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
