mixin buttonBig(text, href='./search.html')
    a(href=href).button-big
        button(type='submit').button-big__submit= text
            i.material-icons.material-icons--color-white.button-big__icon arrow_forward