.button-big__submit {
    width: 320px;
    height: 44px;
    border-radius: 22px;
    background: $Gradient;
    border: none;
    cursor: pointer;

    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;

        &:hover {
            opacity: 0.5;
        }
        &:active {
            transform: translate(0.5px, 0.5px);
        }
            &~.button__icon {
                transform: translate(0.5px, 0.5px);
            }
    &__icon {
        position: absolute;
        top: 0.35em;
        right: 0.38em;
        pointer-events: none;
        z-index: 100;
    }
}