@import '../../style/layout/components/checkbox.scss';

.expandable__head {
    min-width: 266px;
    max-width: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        color: $Dark-100;
    }
    
    &-icon {
        margin-right: 0.3em;
        cursor: pointer;

        &--disabled {
            transform: rotate(180deg);
        }
    }
}

.expandable-checkbox {
    @include checkbox;
    display: none;

    &--disabled {
        display: block;
    }
}