@import '../../style/layout/components/checkbox.scss';

.rich-checkbox {
    @include checkbox;

    &__label {
        color: $Dark-75;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;

        &:not(:last-of-type) {
            margin-bottom: 31px;
        }

        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    &__text {
        position: relative;
    }

    &__additional {
        position: absolute;
        left: 0;
        top: 22px;
        color: $Dark-50;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        width: 236px;
    }
}