mixin rich-checkbox
        label.rich-checkbox__label
            input(type='checkbox' checked).rich-checkbox__label-input
            .rich-checkbox__text Широкий коридор
                span.rich-checkbox__subtext Ширина коридоров в номере не менее 91 см.
        label.rich-checkbox__label
            input(type='checkbox' checked).rich-checkbox__label-input
            .rich-checkbox__text Помощник для инвалидов
                span.rich-checkbox__subtext На 1 этаже вас встретит специалист и проводит до номера.