@import '../../style/layout/components/checkbox.scss';

.checkbox-list {
    @include checkbox;

    &__label-text {
        position: relative;
    }

    &__label-additional {
        position: absolute;
        top: 1.4em;
        left: 0;
    }
}