mixin checkbox-list 
        label.checkbox-list__label
            input(type='checkbox' checked).checkbox-list__label-input
            | Можно курить
        label.checkbox-list__label
            input(type='checkbox').checkbox-list__label-input
            | Можно с питомцами
        label.checkbox-list__label
            input(type='checkbox').checkbox-list__label-input
            .checkbox-list__label-text Можно пригласить гостей (до 10 человек)