mixin checkbox-list
    label.checkbox__label
        input(type='checkbox').checkbox__label-input
        | Можно курить
    label.checkbox__label
        input(type='checkbox').checkbox__label-input
        | Можно с питомцами
    label.checkbox__label
        input(type='checkbox').checkbox__label-input
        .checkbox__label-text Можно пригласить гостей
            span.checkbox__label-additional (до 10 человек)
        .kartinka