mixin subTextField(text)
    form.subscription
        input(type="email" name="text-field" placeholder=text).subscription__text
        button(type="submit").material-icons.material-icons--color-primary.subscription__icon arrow_forward