@import './layout/vars.scss';
@import './layout/fonts.scss';
@import './layout/components/checkbox.scss';
@import '../components/checkbox-list/checkbox-list.scss';
@import '../components/text-field/text-field.scss';
@import '../components/toggle/toggle.scss';
@import '../components/bullet-list/bullet-list.scss';
@import '../components/buttons/small-btn.scss';
@import '../components/buttons/button-only-border.scss';
@import '../components/buttons/button-no-border.scss';
@import '../components/buttons/button-big.scss';
@import '../components/rich-checkbox/rich-checkbox.scss';

html,
body {
    font-family: "Montserrat", sans-serif;
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    color: $Dark-75;
    height: 100%;
}