@import '../../style/layout/vars.scss';

.bullet {
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        align-items: center;
    }
    
    &__text {
        margin-left: 10.43px;
        color: $Dark-75;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        max-width: 271px;
        max-height: 48px;
    }

    &__dot {
        width: 10.43px;
        height: 10px;
        background: $Dark-25;
        align-self: flex-start;
        margin-top: 6px;
        border-radius: 50%;
    }
}