mixin bullet-list
    .bullet
        .bullet__item
            .bullet__dot
            span.bullet__text Нельзя с питомцами
        .bullet__item
            .bullet__dot
            span.bullet__text Без вечеринок и мероприятий
        .bullet__item
            .bullet__dot
            span.bullet__text Время прибытия — после 13:00, а выезд до 12:00