mixin toggle(text='Получать спецпредложения')
    .toggle(class=attributes.class)
        label.toggle__label
            input.toggle__inp(type="checkbox")
            span.toggle__slider
        span.toggle__text=text