html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxin"
  body
    include ./components/text-field/text-field.pug
    include ./components/toggle/toggle.pug
    include ./components/bullet-list/bullet-list.pug
    include ./components/checkbox-list/checkbox-list.pug
    include ./components/buttons/small-btn.pug
    include ./components/buttons/button-only-border.pug
    include ./components/buttons/button-no-border.pug
    include ./components/buttons/button-big.pug
    include ./components/rich-checkbox/rich-checkbox.pug

    +textInput("Email")
    +toggle("Получать спецпредложения")
    +bullet-list
    +checkbox-list
    +buttonSmall("Click me")
    +buttonBorder("Click me")
    +buttonNoBorder("Click me")
    +buttonBig("Перейти к оплате")
    +rich-checkbox