html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxin"
  body
    include ./components/text-field/text-field.pug
    include ./components/toggle/toggle.pug
    include ./components/bullet-list/bullet-list.pug
    include ./components/checkbox-list/checkbox-list.pug
    +textInput
    +toggle
    +bullet-list
    +checkbox-list